/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    color: #007bff;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

/* Navigation */
.navbar {
    background-color: #343a40;
}

.navbar a {
    color: white;
}

/* Cards and Containers */
.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
}

.card-title {
    color: #343a40;
}

.card-text {
    color: #6c757d;
}

.product-category {
    background-color: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-category h2 {
    margin-top: 0;
}

/* Subcategories Styling */
.subcategories {
    display: flex;
    justify-content: space-around;
}

.subcategory {
    width: 45%;
}

.subcategory h3 {
    background-color: #eee;
    padding: 10px;
    margin: 0;
    border-bottom: 1px solid #ccc;
}

.subcategory ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.subcategory ul li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.subcategory ul li:last-child {
    border-bottom: none;
}

/* Header */
header {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}
