/* Header new CSS */
#maincontant{
    max-height: 1500px !important;
}
.header {
    max-width: 1340px;
}
.page-header .header.content .minicart-wrapper .action.showcart::before {
    font-size: 35px;
    display: inline-block;
    font-family: "FontAwesome";
    content: "\f07a";
    height: auto;
    width: auto;
    left: auto;
    position: inherit;
    color: #0997FF;
    margin-left: 3px;
    line-height: 40px;
}

.page-wrapper .page-header.type2.header-newskin .header.content .minicart-wrapper .action.showcart {
    display: inline-block;
    line-height: 37px;
    padding-right: 20px;
}

.page-wrapper .page-header.type2.header-newskin .header.content .minicart-wrapper .action.showcart .counter.qty {
    margin: -20px 0 0 !important;
    right: 85px !important;
	display: block !important;
}

.minicart-wrapper .action.showcart .text {
    width: auto;
    height: auto;
}

.minicart-wrapper .minicart-items .action.edit::before {
    color: #302E2A;
    font-size: 16px;
    line-height: inherit;
    content: '\f826';
    text-align: center;
    vertical-align: middle;
}
.minicart-wrapper .minicart-items .action.delete::before {
    color: #302E2A;
    font-size: 18px;
    line-height: 20px;
    content: '\f81a';
    text-align: center;
    vertical-align: middle;
}

.minicart-wrapper .minicart-items .product-item-details {
    padding: 0 0 0 95px;
    text-align: left;
    display: block;
    max-width: none;
}

.minicart-wrapper .minicart-items .product-item-cart .product-item-details .product-item-name p {
    font-size: 14px;
    margin-bottom: 9px;
    line-height: normal;
}

.minicart-wrapper .minicart-items .product .toggle,
.minicart-wrapper .minicart-items .product .option-label,
.minicart-wrapper .minicart-items .product .option-value {
    font-size: 16px;
}

.minicart-wrapper .minicart-items .product-item-name + br {
    display: none;
}

.minicart-wrapper .block.block-minicart .subtotal {
    padding: 0;
    text-transform: none;
    font-size: 16px;
    font-weight: normal;
    display: block;
    line-height: normal;
}

.minicart-wrapper .block.block-minicart .subtotal .amount {
    margin: 0;
    font-size: 17px;
    color: #22b5f3;
}

.minicart-wrapper .block.block-minicart .subtotal .amount .price {
    font-size: 17px;
}

.minicart-wrapper .block.block-minicart .block-content > .actions {
    padding: 0;
    margin: 15px 0;
}

.minicart-wrapper .block.block-minicart .block-content > .actions  .primary .action.primary {
    padding: 7px 15px;
    font-size: 15px;
    border: 1px solid #0badf2;
    border-radius: 10px;
}

.minicart-wrapper .block.block-minicart .items-total {
    margin-top: 20px;
    font-size: 16px;
    font-weight: normal;
}

.minicart-wrapper .block.block-minicart .block-content > .actions > .secondary .action.viewcart {
    font-weight: normal;
    padding: 12px 15px;
    line-height: normal;
}

.minicart-wrapper .block.block-minicart .block-content > .actions > .secondary .action.viewcart:hover {
    text-decoration: underline;
}

.page-wrapper .page-header.type2.header-newskin .header.content .minicart-wrapper .action.showcart::after {
    right: 0;
    top: 1px;
    color: #bde1f5;
    line-height: 37px;
    margin: 0;
}

.page-header.type2.header-newskin .minicart-wrapper .minicart-items-wrapper {
    margin: 0 -15px;
    overflow-x: auto;
    max-height: none;
    font-weight: normal;
    padding: 15px;
}

.page-header.type2.header-newskin .minicart-wrapper .block-content strong span {
    font-size: 16px;
}

.page-header.type2.header-newskin .minicart-wrapper .block-minicart {
    padding: 15px 18px 25px 18px;
}

.page-header.type2.header-newskin .minicart-wrapper .block-minicart li {
    padding: 15px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 0;
}

.page-header.type2.header-newskin .minicart-wrapper .block-minicart li > .product {
    display: block;
}

.minicart-wrapper .minicart-items .action.delete > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.page-header.type2.header-newskin .minicart-wrapper .block-minicart::before,
.page-header.type2.header-newskin .minicart-wrapper .block-minicart::after {
    content: '';
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}

.page-header.type2.header-newskin .minicart-wrapper .block-minicart::after {
    left: auto;
    border: 9px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: transparent transparent rgba(0,0,0,0.1) transparent;
    top: -23px;
    z-index: 98;
}

.page-header.type2.header-newskin .minicart-wrapper .block-minicart::before {
    right: 45px; 
    left: auto; 
    border: 8px solid;
    border-top-color: currentcolor;
    border-right-color: currentcolor;
    border-bottom-color: currentcolor;
    border-left-color: currentcolor;
    border-color: transparent transparent #000 transparent;
    border-bottom-color: rgb(0, 0, 0);
    top: -21px;
    z-index: 99;
}

.block-minicart .subtitle.empty {
    display: block;
    padding: 27px 0 18px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
}

/* Header new CSS End */


/* Product Detail Page */
.sw-megamenu.navigation.side-megamenu .home-side-menu-container.apparel-products li.level0.classic > .submenu,
.sw-megamenu.navigation.side-megamenu .home-side-menu-container.label-products li.level0.classic > .submenu {
    box-shadow: 0 0 3px rgba(0,0,0,0.25);    
    border-top-width: 0;
    padding: 0 0 0 5px;
    width: 535px;
}
.sw-megamenu.navigation.side-megamenu .home-side-menu-container.apparel-products li.level0.classic > .submenu .last_level_category,
.sw-megamenu.navigation.side-megamenu .home-side-menu-container.label-products li.level0.classic > .submenu .last_level_category {
    width: 530px !important;
    max-width: 530px !important;
    position: unset;
    border: 0;
}

.sw-megamenu.navigation.side-megamenu .home-side-menu-container.apparel-products li.level0.classic .submenu a,
.sw-megamenu.navigation.side-megamenu .home-side-menu-container.label-products li.level0.classic .submenu a {
    padding: 5px;
}

.sw-megamenu.navigation.side-megamenu li.level0 > .submenu::before,
.sw-megamenu.navigation.side-megamenu li.level0 > .submenu::after {
    display: none;
}

.sw-megamenu.navigation.side-megamenu li.level0.classic > .submenu .last_level_category {
    background: #ffffff;
}
.product-info-main .product.overview {
    padding-bottom: 20px;
    margin: 18px 0;
    font-size: 14px;
}

.product-add-form .container-cost-design h3 {
    font-size: 17.5px;
    margin-bottom: 5px;;
}

.product-add-form .sticky_price p.total_cost {
    line-height: normal;
    padding: 4px 0 0 0;
    margin: 0;
}

.product-add-form .sticky_price p.total_cost span {
    font-family: 'Roboto', sans-serif !important; 
}

.product-add-form .container-cost-design p#total_cost,
.product-add-form .container-cost-design p#total_cost .af-dis-price {
    line-height: 54px;
}

.product-add-form .container-cost-design p#total_cost .dis-price {
    line-height: 39px;
}

.product-add-form .product-options-wrapper .swatch-attribute-options {
    display: block;
    margin: 5px 0 15px 0;
    padding: 0;
}

.product-add-form .product-options-wrapper .swatch-attribute-label {
    padding: 0;
    min-width: auto;
    font-weight: bold;
    line-height: normal;
}

.product-add-form .product-options-wrapper .swatch-attribute-selected-option {
    padding-left: 17px;
}

.product-add-form .product-options-wrapper #btn_bulk_dis {
    padding: 0 12px;
}

.product-info-main .page-title-wrapper h1 {
    margin: 0 0 13.5px;
    font-size: 28px;
    font-weight: 600;
    line-height: 1;
    color: #555;
}

.product-info-main .page-title-wrapper h2 {
    font-size: 20px;
}

.product-add-form .truaround-block select {
    border-color: #ccc;
    padding: 4.5px 25px 4px 9px;
}

.product-options-bottom .box-tocart .field.qty #qty{
    border-width: 1px;
}


/* Product Detail End */

.order-products-toolbar.toolbar.bottom {
    display: inherit;
}

.order-products-toolbar.toolbar.bottom .pager {
    margin: 0;
    padding: 0;
}

.order-products-toolbar.toolbar.bottom .limiter {
    float: right;
}

.order-products-toolbar.toolbar.bottom .pages .item .page {
    background: #fff;
    border: 1px solid #ccc;
    color: #302E2A;
    padding: 0 4.5px;
    text-decoration: none;
    width: 26px;
    font-size: 13px;
    line-height: 24px;
    font-weight: normal;
    min-width: auto;
    height: 26px;
}

.order-products-toolbar.toolbar.bottom .pages .item strong.page,
.order-products-toolbar.toolbar.bottom .pages .item a.page:hover,
.order-products-toolbar.toolbar.bottom .pages .item .action:hover {
    background: #302E2A;
    border: 1px solid #000;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: normal;
    color: #ffffff !important;
    display: inline-block;
    font-weight: 400;
    padding: 0 4.5px;
}

.order-products-toolbar.toolbar.bottom .pages .item .page:visited {
    color: #302E2A !important;
}

.order-products-toolbar.toolbar.bottom .pages .item .action {
    padding: 0 8px;
    width: 26px;
    background: #fff;
    border: 1px solid #ccc;
    color: #999;
    line-height: 24px;
    height: 26px;
    font-size: 13px;
    font-weight: normal;
    min-width: auto;
}

.order-products-toolbar.toolbar.bottom .pages .item .action:before {
    color: #999999 !important;
}

.order-products-toolbar.toolbar.bottom .pages .item .action:hover::before {
    color: #ffffff !important;
}

.order-products-toolbar.toolbar.bottom .limiter-label {
    font-size: 14px;
}

.order-products-toolbar.toolbar.bottom select {
    color: #302E2A;
    padding-top: 0;
    padding-bottom: 0;
    height: 26px;
    border: 1px solid #ccc;
    margin: 0 5px 0 7px;
}

.cart-totals tbody .mark, 
.cart-totals tfoot .mark, 
.opc-block-summary .table-totals tbody .mark, 
.opc-block-summary .table-totals tfoot .mark {
    padding: 6px 0;
}

.cart-totals tbody .amount, 
.cart-totals tfoot .amount, 
.opc-block-summary .table-totals tbody .amount, 
.opc-block-summary .table-totals tfoot .amount {
    padding: 6px 5px 6px 10px;
    text-align: right;
    color: #000;
}

body .cart-container .red.col-lg-7.float-left,
body .cart-container .form-cart,
body .cart-container .cart-summary {
    margin-left: 0;
    margin-right: 0;
}


@media only screen and (max-width: 479px) {
    .page-header .minicart-wrapper .block-minicart {
        width: 290px;
    }
}

@media only screen and (max-width: 767px) {
    .page-header .header.content {
        margin: 0 auto;
    }

    .header.content .nav-toggle {
        float: left;
        margin: 10px 20px 0 0;
        font-size: 0;
        line-height: 60px;        
        padding: 0;
    }

    .header.content .nav-toggle::before {
        font-size: 18px;
        padding-left: 1px;
        margin-top: 1px;
    }

    header.page-header.type2.header-newskin .header.content .logo {
        max-width: 50%;        
    }

    header.page-header.type2.header-newskin .header.content .logo img {
        margin: 15px 0 0 5%;
        max-width: 100%;
        max-height: 100%;
        width: auto;
        min-width: 200px !important;
    }

    header.page-header.type2.header-newskin .header.content .block-search .label {
        float: right;
        right: 42px;
        top: 20px;
    }

    header.page-header.type2.header-newskin .header.content .block-search .label::before {
        padding-left: 1px;
    }

    header.page-header.type2.header-newskin .header.content .minicart-wrapper .action.showcart::before, 
    header.page-header.type2.header-newskin .header.content .minicart-wrapper .action.showcart.active::before {
        font-size: 25px;
        color: #18426e !important;
    }

    .page-header.type2.header-newskin .minicart-wrapper .block-minicart::after,
    .page-header.type2.header-newskin .minicart-wrapper .block-minicart::before  {
        right: 10px;
    }

    .page-wrapper .page-header.type2.header-newskin .header.content .minicart-wrapper .action.showcart .counter.qty {
        margin-top: -18px !important;
        right: 8px !important;
    }

    .page-wrapper .page-header.type2.header-newskin .nav-sections {
        width: 100%;
    }

    .page-wrapper .page-header.type2.header-newskin .close-mobile {
        top: -3px;
        left: 0;
        padding: 0;
    }

    .nav-open .page-wrapper .page-header.type2.header-newskin .nav-toggle::after {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .order-products-toolbar.toolbar.bottom {
        background: none;
        padding: 0;
    }

    .order-products-toolbar.toolbar.bottom .limiter {
        float: left;
    }

    .order-products-toolbar.toolbar.bottom .limiter-label {
        color: #777;
    }

    .page-wrapper .page-header.type2.header-newskin .nav-sections .switcher {
        height: auto;
    }

    .page-wrapper .page-header.type2.header-newskin .nav-sections .switcher strong {
        font-size: 13px;
    }

    .page-wrapper .page-header.type2.header-newskin .nav-sections li.view-fr_ca.switcher-option {
        line-height: normal;
        margin-top: 2px;
    }
}

@media only screen and (min-width: 1170px) {
    body.checkout-cart-index .cart-container .red.col-lg-7.float-left,
    body.checkout-cart-index .cart-container .form-cart {
        max-width: 61%;
    }
}

@media only screen and (min-width: 992px) {
    .navigation-parent-container .navigation.sw-megamenu.side-megamenu .home-side-menu-container.all-products li.level0 a span {
        width: 100%;
        text-align: center;
    }

    body .cart-container .red.col-lg-7.float-left,
    body .cart-container .form-cart {
        max-width: 60%;
        margin-left: 20px;
        margin-right: 15px;
    }
}

@media only screen and (min-width: 768px) {
    .navigation-parent-container .home-side-menu {
        width: 100%;
        /* max-width: none; */
    }
}

@media only screen and (min-width: 767px) {
    .cart-container .red.col-lg-7.float-left,
    .cart-container .form-cart {
        max-width: 75%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1600px)  {
    .cms-index-index #homepage-container {
        width: 82%;
        float: right !important;
    }
}

.page-layout-2columns-right .navigation-parent-container .home-side-menu { max-width: 218px; }

.fotorama__stage__shaft {
    border: 3px solid #fff;
    box-sizing: border-box;
    max-width: 100%;
}

.catalog-product-view select.swatch-select.size {
    padding: 8px 12px;
    height: auto;
    border-color: rgba(0,0,0,.09);
    color: #777;
}

.product-info-main .qty.field .label {
    line-height: 47px;
}
.product-info-main .qty.field .control {
    margin: 0 0 10px 10px;
    display: inline-block;
    max-width: 48px;
}
.product-info-main .product-add-form .box-tocart .field.qty #qty {
    width: 54px;
    height: 46px;
}
.product-info-main .product-add-form .box-tocart .fieldset {
    display: flex;
}
.product-info-main #addDesign.btn {
    padding: 12px;
}
.product-info-main .design_warning {
    clear: both;
}
.product-info-main .truaround-block {
    border-bottom: 0;
}

@media screen and (max-width: 767px) {  
    .page-layout-2columns-right .sidebar.sidebar-additional {
        display: none !important;
    }
    .product-info-main .product-add-form .box-tocart .fieldset {
        display: inline-block;
    }
    .product-info-main .box-tocart .actions {
        margin: 5px 0 0 !important;
    }
    .product-info-main #addDesign.btn {
        margin: 0 0 10px;
    }
    .product-info-main button#product-addtocart-button {
        margin: 0 0 15px;
    }
    .product-info-main .design_warning {
        margin: 0;
    }
}
.opc-block-summary .minicart-items .product-item .product-item-details .product-item-name-block{
   display:block; 
}

.customer-address-index .actions-toolbar .secondary{
	order: 1;
	padding: 0 20px 0 0;
}
.customer-address-index .actions-toolbar .primary{
	order: 2;
}
.customer-address-index .actions-toolbar{
	display: flex;
}
.customer-address-index .actions-toolbar .action.back{
	margin: 0;
	padding-left: 20px !important;
}
.customer-address-index .actions-toolbar .back::before {
	content: "<";
	font-size: 15px;
	margin: 5px;
}
.customer-address-index .actions-toolbar > .secondary .action.back{
	display: block;
}
/**
 * WARNING: Do not change this file. Your changes will be lost.
 * 2024-04-15 15:38:50 */

html .background-color-primary {
    background-color: #302E2A !important;
}
.theme-color{color:#302E2A !important;}
.theme-hover-color:hover{color:#302E2A !important;}
.theme-bg-color{background-color:#302E2A !important;}
.theme-border-color{border-color:#302E2A !important;}
.theme-hover-bg-color:hover{background-color:#302E2A !important;}
a,a:hover, .minicart-wrapper .action.showcart:before, .minicart-wrapper .action.showcart.active:before, .owl-theme .owl-controls .owl-nav [class*=owl-], .recent-posts .post-date .day, .minicart-wrapper .action.showcart:hover:before, .minicart-wrapper .action.showcart:active:before, .minicart-wrapper .action.showcart.active:before, .minicart-wrapper .action.showcart.active:hover:before, .sorter-action:hover:before, .page-main > .page-title-wrapper .page-title, .cart.table-wrapper .actions-toolbar > .action-edit:hover:before, .cart.table-wrapper .actions-toolbar > .action-delete:hover:before, .paypal-review-discount .block > .title strong, .cart-discount .block > .title strong, .authentication-wrapper button.action-auth-toggle, .abs-action-button-as-link:hover, .abs-action-remove:hover, .abs-discount-block .action.check:hover, .popup .actions-toolbar .action.cancel:hover, .paypal-button-widget .paypal-button:hover, .bundle-options-container .action.back:hover, .block.related .action.select:hover, .cart.table-wrapper .actions-toolbar > .action-delete:hover, .cart.table-wrapper .action.help.map:hover, .checkout-index-index .modal-popup .modal-footer .action-hide-popup:hover, .opc-wrapper .edit-address-link:hover, .opc-block-shipping-information .shipping-information-title .action-edit:hover, .action-auth-toggle:hover, .checkout-payment-method .payment-method-billing-address .action-cancel:hover, .checkout-payment-method .payment-method-billing-address .billing-address-details .action-edit-address:hover, .checkout-agreements-block .action-show:hover, .gift-options .actions-toolbar .action-cancel:hover, .gift-summary .action-edit:hover, .gift-summary .action-delete:hover, .gift-wrapping-title .action-remove:hover, .wishlist.split.button > .action:hover, .abs-add-fields .action.remove:hover, .paypal-review-discount .action.check:hover, .cart-discount .action.check:hover, .form-giftregistry-share .action.remove:hover, .form-giftregistry-edit .action.remove:hover, .form-add-invitations .action.remove:hover, .form-create-return .action.remove:hover, .form.send.friend .action.remove:hover, .opc-progress-bar-item._complete > span, .checkout-payment-method .payment-option-title .action-toggle, .checkout-payment-method .payment-option-title .action-toggle:after, .opc-block-shipping-information .shipping-information-title .action-edit:before, .opc-block-shipping-information .shipping-information-title .action-edit:hover:before, .block-collapsible-nav .item.current a, .block-collapsible-nav .item.current strong, .block-collapsible-nav .item a:hover, .block-collapsible-nav .item a:active, .block-collapsible-nav .item a:focus, .magento-rma-returns-returns .page-main .page-title-wrapper .page-title, .magento-rma-returns-view .page-main .page-title-wrapper .page-title, .magento-rma-guest-returns .page-main .page-title-wrapper .page-title, .account .page-main .page-title-wrapper .page-title, [class^="sales-guest-"] .page-main .page-title-wrapper .page-title, .sales-guest-view .page-main .page-title-wrapper .page-title, .magento-rma-guest-returns .page-main .page-title-wrapper .page-title, p .alternative-font, .entry-content h3, .history h4, .nav-.block-search .label:before, .block-search .label:hover:before, .fotorama .fotorama-sprite, .page-header.type5 .search-area > a, .page-header.type5 .search-area > a:hover, .page-header.type5 .minicart-wrapper .action.showcart:before, .page-header.type5 .minicart-wrapper .action.showcart.active:before, .filterproducts-tab .data.items > .item.title[aria-expanded=true] a.switch, .qty.field .qty-changer > a:hover, .post-holder .post-date .day, .widget.block-recent-posts ul li a, .post-list .post-content .post-read-more, .post-header .post-title a, .alink:visited, a:active, .alink:active, .block-category-event > div.event-desc, .block-category-event .event-ticker .dates > div > span.desc, #ln_slider_price .ui-slider-handle, .abs-action-remove, .abs-discount-block .action.check, .popup .actions-toolbar .action.cancel, .paypal-button-widget .paypal-button, .bundle-options-container .action.back, .block.related .action.select, .cart.table-wrapper .actions-toolbar > .action-delete, .cart.table-wrapper .action.help.map, .checkout-index-index .modal-popup .modal-footer .action-hide-popup, .opc-wrapper .edit-address-link, .opc-block-shipping-information .shipping-information-title .action-edit, .action-auth-toggle, .checkout-payment-method .payment-method-billing-address .action-cancel, .checkout-payment-method .payment-method-billing-address .billing-address-details .action-edit-address, .checkout-agreements-block .action-show, .gift-options .actions-toolbar .action-cancel, .gift-summary .action-edit, .gift-summary .action-delete, .gift-wrapping-title .action-remove, .wishlist.split.button > .action, .abs-add-fields .action.remove, .paypal-review-discount .action.check, .cart-discount .action.check, .form-giftregistry-share .action.remove, .form-giftregistry-edit .action.remove, .form-add-invitations .action.remove, .form-create-return .action.remove, .form.send.friend .action.remove,.owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span,html .heading-primary, html .lnk-primary, html .text-color-primary,.modes-mode.active, .modes-mode:hover,.sidebar-main .porto-icon {color:#302E2A;}
html .text-color-primary,.main-toggle-menu .menu-title.closed:not(:hover) {color:#302E2A !important;}
.action.primary, .action.primary:hover, .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span, .recent-posts .post-date .month, .footer-ribbon, button:hover,.action-primary:hover, .action.primary:focus, .action.primary:active, .btn-primary, .contact-index-index .page-main .contact-info [class^="porto-icon-"], .contact-index-index .page-main .contact-info [class*=" porto-icon-"], .btn-default, .cms-index-index blockquote.testimonial, .btn-default:hover, .products-grid .product-item-info:hover .product-item-details .product-item-actions .tocart, .products-grid.products.grid.flex-grid .product-item-details .product-item-actions .tocart, .post-holder .post-date .month, .page-header.type8 .header.content,.page-header.type8.header-newskin .header.content, .iwd-summary-cart, #ln_slider_price .ui-slider-handle, .filter-toggle.active,.products-grid .product-item .product-item-info .weltpixel-quickview.weltpixel_quickview_button_v2, .products-upsell .owl-middle-narrow.owl-theme .owl-controls .owl-dots .owl-dot.active span:before,.product-item-info.type3 .product-item-photo .product-item-inner .product-item-actions>.actions-primary .tocart:hover,.product-item-info.type3 .product-item-photo .product-item-inner .product-item-actions>.action.tocompare:hover,.product-item-info.type4 .product-item-actions .towishlist:hover, .product-item-info.type4 .product-item-actions .tocompare:hover,.product-item-info.type5 .product-item-photo .product-item-inner .product-item-actions>.actions-primary .tocart:hover,.product-item-info.type5 .product-item-photo .product-item-inner .product-item-actions>.action.tocompare:hover,.product-item-info.type6 .product-item-photo .product-item-inner .product-item-actions>.actions-primary .tocart:hover,.product-item-info.type6 .product-item-photo .product-item-inner .product-item-actions>.action.tocompare:hover,.product-item-info.type7 .product-item-inner .product-item-actions>.action:hover,.product-item-info.type7 .product-item-inner .product-item-actions>.actions-primary .tocart:hover,.product-item-info.type9 .product-item-inner .product-item-actions>.actions-primary .tocart:hover, .product-item-info.type9 .product-item-inner .product-item-actions>.action:hover,.sw-dailydeal,.catalog-product-view .sw-dailydeal .number-wrapper,.swatch-attribute.size .swatch-option.selected, .swatch-attribute.manufacturer .swatch-option.selected,.sidebar-main .product-banner .sale-text:before, .sidebar-main .product-banner .sale-text:after,.product-item-info.type0:hover .product-item-details .product-item-actions .tocart,.page-header.type17 .navigation:not(.side-megamenu) .level0 .level-top::before
    {background-color:#302E2A;}
.swatch-attribute.size .swatch-option.selected, .swatch-attribute.manufacturer .swatch-option.selected
        {background-color:#302E2A !important;}
.action.primary, .action.primary:hover, .pages strong.page, .pages .action:hover, .pages a.page:hover, button:hover,.action-primary:hover, .action.primary:focus, .action.primary:active, .products-grid .product-item-info:hover .product-item-details .product-item-actions .tocart, .products-grid.products.grid.flex-grid .product-item-details .product-item-actions .tocart, .filter-toggle.active,i.ajax-loader, .swatch-attribute.size .swatch-option.selected, .swatch-attribute.manufacturer .swatch-option.selected, .swatch-option.image:not(.disabled):hover, .swatch-option.color:not(.disabled):hover, .swatch-option:not(.disabled):hover,.products-grid .swatch-option.color:hover::after,.product-item-info.type3 .product-item-photo .product-item-inner .product-item-actions>.actions-primary .tocart:hover,.product-item-info.type3 .product-item-photo .product-item-inner .product-item-actions>.action.tocompare:hover,.product-item-info.type4 .product-item-actions .towishlist:hover, .product-item-info.type4 .product-item-actions .tocompare:hover,.product-item-info.type5 .product-item-photo .product-item-inner .product-item-actions>.actions-primary .tocart:hover,.product-item-info.type5 .product-item-photo .product-item-inner .product-item-actions>.action.tocompare:hover,.product-item-info.type6 .product-item-photo .product-item-inner .product-item-actions>.actions-primary .tocart:hover,.product-item-info.type6 .product-item-photo .product-item-inner .product-item-actions>.action.tocompare:hover,.product-item-info.type0:hover .product-item-details .product-item-actions .tocart,.page-header.type18 .navigation:not(.side-megamenu) .level0 > .submenu
{border-color:#302E2A;}
.page-header, .authentication-dropdown, .login-container, .form.password.reset, .form.send.confirmation, .form.password.forget, .form.create.account, .form.form-edit-account, .form-address-edit, .form-newsletter-manage, .featured-box .box-content, .history .featured-box .box-content, .form.search.advanced, .homepage-grid-banner .ribbon:before, .testimonial .testimonial-arrow-down, #newsletter_popup, .iwd-one-page-checkout-sidebar .iwd-opc-block-summary, .block-header-customer-login, .mfp-preloader, .ln_overlay .loader
    {border-top-color:#302E2A;}
.minicart-wrapper .block-minicart:before, .iwd-one-page-checkout-sidebar .iwd-opc-block-summary:before, .block-header-customer-login:before
    {border-bottom-color:#302E2A;}
@media (max-width: 991px) {
    .navigation a {
        color: #777 !important;
    }
    .navigation a:hover, .nav-sections .header.links a:hover {
        color: #302E2A !important;
    }
    header.page-header .nav-sections-item-title.active > a, header.page-header .nav-sections-item-title.active > a:hover, header.page-header .nav-sections-item-title.active > a:focus{
        color: #302E2A;
    }
    header.page-header .nav-sections-item-title, .sw-megamenu.navigation li.level0.fullwidth .submenu .menu-top-block a.btn-default:hover, .sw-megamenu.navigation li.level0.staticwidth .submenu .menu-top-block a.btn-default:hover, .sw-megamenu.navigation li.level0.fullwidth .submenu .menu-left-block a.btn-default:hover, .sw-megamenu.navigation li.level0.staticwidth .submenu .menu-left-block a.btn-default:hover, .sw-megamenu.navigation li.level0.fullwidth .submenu .menu-right-block a.btn-default:hover, .sw-megamenu.navigation li.level0.staticwidth .submenu .menu-right-block a.btn-default:hover, .sw-megamenu.navigation li.level0.fullwidth .submenu .menu-bottom-block a.btn-default:hover, .sw-megamenu.navigation li.level0.staticwidth .submenu .menu-bottom-block a.btn-default:hover, .sw-megamenu.navigation li.level0.fullwidth .submenu .menu-top-block a.btn-default:focus, .sw-megamenu.navigation li.level0.staticwidth .submenu .menu-top-block a.btn-default:focus, .sw-megamenu.navigation li.level0.fullwidth .submenu .menu-left-block a.btn-default:focus, .sw-megamenu.navigation li.level0.staticwidth .submenu .menu-left-block a.btn-default:focus, .sw-megamenu.navigation li.level0.fullwidth .submenu .menu-right-block a.btn-default:focus, .sw-megamenu.navigation li.level0.staticwidth .submenu .menu-right-block a.btn-default:focus, .sw-megamenu.navigation li.level0.fullwidth .submenu .menu-bottom-block a.btn-default:focus, .sw-megamenu.navigation li.level0.staticwidth .submenu .menu-bottom-block a.btn-default:focus {
        background-color: #302E2A;
    }
}
@media (min-width: 992px) {
    .page-header .navigation li.level0 {
        color: #302E2A;
    }
    .page-header.type24 .navigation li.level0 > a:before {
        background-color: #302E2A;
    }
    .navigation .level0 .submenu {
        border-color:#302E2A;
    }
    .sw-megamenu.navigation.side-megamenu li.level0:hover > a,.sw-megamenu.navigation.side-megamenu li.level0.active > a {
        border-top-color:#302E2A;
    }
    #main-toggle-menu .menu-title:hover, #main-toggle-menu .menu-title:not(.closed) {
        background: #302E2A;
        border-right-color: #302E2A;
    }
}
    .page-header.type1, .page-header.type23, .page-header,header.page-header.sticky-header .header-main {
        background-color: #FFFFFF;
    }
    @media (max-width: 767px){
      header.page-header.sticky-header .header-main {
          background-color: #FFFFFF;
      }
    }
    .page-header {
        border-top-color: #FFFFFF;
    }
    .page-header .header-main {
        color: #FFFFFF;
    }
    .page-header .header-main a, .page-header.type5 .search-area a.search-toggle-icon{
        color: #FFFFFF;
    }
    .cart-design-2 .action.showcart .minicart-icon {border-color: #FFFFFF;}
    .page-header .panel.wrapper,.main-panel-top {
        background-color: #FFFFFF;
    }
    .page-header .panel.wrapper, .page-header.type23 .panel.header a, .page-header.type23 .panel.header a:hover, .page-header.type23 > .panel.wrapper, .page-header.type23 .header.panel .switcher,.page-header.type24 .top-links-icon a, .page-header.type24 .top-links-icon, .page-header.type24 .panel.header .switcher {
        color: #BDE1F5;
    }
@media (min-width: 992px){
    .page-header.type1 .nav-sections,.page-header.type2 .nav-sections, .page-header .navigation > ul, .page-header.type16.sticky-header .navigation:not(.side-megamenu) > ul, .page-header.type18 .main-menu-wrap{
        background-color: #024678;
    }
    .page-header.type16 .navigation:not(.side-megamenu) > ul {border-color: #024678;}
}
@media (min-width: 992px){
    .page-header .navigation li.level0,
    .page-header.type23 .navigation .level0 > .level-top {
        color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .page-header.type1 .navigation li.level0.active, .page-header.type1 .navigation li.level0:hover,
    .page-header .navigation li.level0.active, .page-header .navigation li.level0:hover,
    .page-header.type23 .navigation .level0:hover > .level-top,
    .page-header.type23 .navigation .level0.active > .level-top,
    .page-header.type23 .navigation .level0.has-active > .level-top {
        background-color: #FFFFFF;
    }
    .page-header.type19 .navigation:not(.side-megamenu) .level0 > .submenu {
        border-color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .page-header .navigation li.level0.active,
    .page-header .navigation li.level0:hover,
    .page-header.type23 .navigation .level0.active > .level-top,
    .page-header.type23 .navigation .level0.has-active > .level-top {
        color: #FFFFFF;
    }
    .page-header.type2 .navigation .level0 .level-top:before {
        background-color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .navigation .level0 .submenu, .sw-megamenu.navigation li.level0.classic .subchildmenu .subchildmenu {
        background-color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .navigation .level0 .submenu a {
        color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .navigation .level0 .submenu a:hover, .navigation .level0 .submenu a.ui-state-focus {
        background-color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .navigation .level0 .submenu a:hover, .navigation .level0 .submenu a.ui-state-focus {
        color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .sw-megamenu.navigation li.level0.fullwidth > .submenu, .sw-megamenu.navigation li.level0.staticwidth > .submenu {
        background-color: #024678;
    }
}
@media (min-width: 992px){
    .sw-megamenu.navigation li.level0.fullwidth > .submenu a, .sw-megamenu.navigation li.level0.staticwidth > .submenu a {
        color: #777777;
    }
}
@media (min-width: 992px){
    .sw-megamenu.navigation li.level0.fullwidth > .submenu a:hover, .sw-megamenu.navigation li.level0.staticwidth > .submenu a:hover {
        color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label1 {
        background-color: #024678;
    }
    .sw-megamenu.navigation li.level0 > a > span.cat-label.cat-label-label1:before {
        border-top-color: #024678;
    }
    .sw-megamenu.navigation li .subchildmenu li > a > span > span.cat-label.cat-label-label1:before, .sw-megamenu.navigation.side-megamenu li.level0 > a > span.cat-label.cat-label-label1:before {
        border-right-color: #024678;
    }
}
@media (max-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label1 {
        background-color: #024678;
    }
    .sw-megamenu.navigation span.cat-label.cat-label-label1:before {
        border-right-color: #024678;
    }
}
@media (min-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label1 {
        color: #FFFFFF;
    }
}
@media (max-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label1 {
        color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label2 {
        background-color: #FFFFFF;
    }
    .sw-megamenu.navigation li.level0 > a > span.cat-label.cat-label-label2:before {
        border-top-color: #FFFFFF;
    }
    .sw-megamenu.navigation li .subchildmenu li > a > span > span.cat-label.cat-label-label2:before, .sw-megamenu.navigation.side-megamenu li.level0 > a > span.cat-label.cat-label-label2:before {
        border-right-color: #FFFFFF;
    }
}
@media (max-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label2 {
        background-color: #FFFFFF;
    }
    .sw-megamenu.navigation span.cat-label.cat-label-label2:before {
        border-right-color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label2 {
        color: #FFFFFF;
    }
}
@media (max-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label2 {
        color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label3 {
        background-color: #FFFFFF;
    }
    .sw-megamenu.navigation li.level0 > a > span.cat-label.cat-label-label3:before {
        border-top-color: #FFFFFF;
    }
    .sw-megamenu.navigation li .subchildmenu li > a > span > span.cat-label.cat-label-label3:before, .sw-megamenu.navigation.side-megamenu li.level0 > a > span.cat-label.cat-label-label3:before {
        border-right-color: #FFFFFF;
    }
}
@media (max-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label3 {
        background-color: #FFFFFF;
    }
    .sw-megamenu.navigation span.cat-label.cat-label-label3:before {
        border-right-color: #FFFFFF;
    }
}
@media (min-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label3 {
        color: #FFFFFF;
    }
}
@media (max-width: 992px){
    .sw-megamenu.navigation span.cat-label.cat-label-label3 {
        color: #FFFFFF;
    }
}
.search-area .block.block-search {
  background-color: #FFFFFF;
}
.search-area {
  color: #FFFFFF;
}
.search-area {
  border-color: #FFFFFF;
}
@media (min-width: 768px){
    .header.panel .minicart-wrapper .action.showcart .counter.qty {
        color: #000000;
    }
}
@media (min-width: 992px){
     .page-header .minicart-wrapper .action.showcart, .page-header .minicart-wrapper .action.showcart:before, .page-header .minicart-wrapper .action.showcart.active:before, .page-header.type18 .wishlist {
        color: #000000;
    }
    .cart-design-2 .action.showcart .minicart-icon {border-color: #000000;}
}
.page-header.type2 .nav-sections, .page-header .navigation > ul, .page-header.type16.sticky-header .navigation:not(.side-megamenu) > ul, .page-header.type18 .main-menu-wrap {
    background-color: transparent;
}
#shipping-calculator .option-tooltip {
    margin: 10px 5px 2px 5px;
    background: #144678;
    color: white;
    border-radius: 10px;
    width: 17px;
    height: 17px;
    display: inline-block;
    line-height: 17px;
    font-size: 13px;
    text-align: center;
    position: relative;
}

#shipping-calculator .option-tooltip .folding-tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  font-size: 14px;
  font-weight: normal;
  padding: 10px;
  z-index: 1;
  top: 22px;
  left: -70px;
}

#shipping-calculator .option-tooltip:hover .folding-tooltiptext {
  visibility: visible;
}
.customer-account-login .page-main-inner{
   width: 100%;
}
.customer-account-login div.mage-error{
  font-size: 12px;
  margin-top: 5px;
}